h3 Got a story Contact Us

form(action)
  .contact-info-group
    .input
      label <span>Your Name</span>
        input(type="text" placeholder="Name")

      label <span>Your Email</span>
        input(type="email" placeholder="Email")

    label.message <span>Tell us about your story</span>
      textarea(name="message")

    input(type="submit" value="Send")
