.btn-group
  button.button Button
  button.button.button-primary Button
  button.button.button-secondary Button
  button.button.button-alert Button
  button.button.button-warning Button 
.input-group
  input(type="text" placeholder="This is an input field")
  button.button.button-secondary(type="submit") Submit
